@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400&family=Poppins:wght@400;500;600;700;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* <===== ROOT & VARIABLES =====> */
:root {
  /* Colors */
  --font-color-primary: hsl(0, 0%, 23%);
  --font-color-secondary: hsl(231, 13%, 11%);
  --font-color-number: hsla(0, 0%, 0%, 0.87);
  --font-color-text: hsl(240, 5%, 50%);
  --font-color-rating: hsl(203, 4%, 38%);
  --btn-primary-color: hsl(338, 74%, 53%);
}

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* nav styles starts here  */
.logo-title {
  width: 15.1875rem;
  color: var(--font-color-primary);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 5rem auto 0;
}
.item {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--font-color-primary);
}

.nav-items a {
  text-decoration: none;
  color: #3a3a3a;
}
.nav-items {
  display: flex;
  gap: 20px;
}
/* nav styles ends here  */

/* banner style starts here  */
.banner-section {
  /* border: 1px solid blue; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-img-section {
  background-image: url('../images/circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  text-align: end;
  margin-top: 3.14rem;
  margin-bottom: 3.14rem;
}

.banner-title {
  width: 36.375rem;
  color: var(--font-color-primary);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
}
.banner-description {
  width: 31.5625rem;
  color: var(--font-color-primary);
  font-size: 1rem;
  font-weight: 600;
  margin: 1.2rem 0 1.8rem 0;
}
.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  gap: 0.5rem;
  border-radius: 2.5625rem;
  background: #e02c6d;
  border: none;
  text-align: center;
}
.icon {
  width: 1.5rem;
  padding: 0 0 0 0.65rem;
}
/* banner style ends here  */

/* sponsors styles starts here */

.sponsors-img-container {
  max-width: 1110px;
  padding: 2rem 0;
  margin: 4.31rem auto 4.31rem;
  text-align: center;
  border-top: 1px solid hsla(0, 0%, 50%, 0.299);
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.299);
}
.sponsor {
  padding: 0 2rem;
}
/* sponsors styles ends here */
